@import '../../styles/settings';

// Layout Blocks
// -------------
.block {
  width: 100%;
  display: grid;
  grid-area: block;

  & > *:first-child {
    grid-column-start: 2;
  } 

  &--1-col {
    grid-template-columns: auto 64rem auto;
  }

  &--2-col {
    grid-template-columns: auto repeat(2, 32rem) auto;
  }

  &--3-col {
    // grid-template-columns: auto repeat(3, calc(100% / 3)) auto;
    grid-template-columns: auto repeat(3, 16rem) auto;
  }

  &--4-col {
    // grid-template-columns: repeat(4, 25%);
    grid-template-columns: auto repeat(4, 16rem) auto;
  }
}
