@import '../../styles/settings';

.sidebar-layout {
  padding-left: 0.5rem;
  display: grid;
  grid-gap: $gutter-size;
  grid-template-columns: 16.6vw 83.4vw;
  grid-template-rows: auto 100vh;
  grid-template-areas: 'title title' 'sidebar content';
  &--inverted {
    grid-template-areas: 'title title' 'content sidebar';
    grid-template-columns: 6fr 1fr;
  }

  &__title {
    grid-column: title;
  }

  &__sidebar {
    grid-area: sidebar;
    overflow-y: auto;
  }

  &__content {
    grid-area: content;
    overflow-y: auto;
  }
}
