@import '../../styles/settings';

#sidebar-layout {
  padding-left: 0.5rem;
  display: grid;
  grid-gap: $gutter-size;
  grid-template-columns: 1fr 6fr;
  grid-template-areas: 'title title' 'sidebar content';

  &__title {
    grid-column: title;
  }

  &__sidebar {
    grid-area: sidebar;
  }

  &__content {
    grid-area: content;
  }
}
