@import '../../styles/settings';

.sidebar-layout {
  .base-layout {
    min-height: 100vh;
    max-height: 100vh;
    grid-template-areas:
      'main-header main-header'
      'in-page-messages in-page-messages'
      'title title'
      '. action-buttons'
      'sidebar content'
      'footer footer';

    grid-template-columns: 20vw auto;
    grid-template-rows: 5rem auto auto auto 1fr auto;

    &__title {
      grid-column: title;
      padding: 0 $gutter-size;
    }

    &__action-buttons {
      grid-column: action-buttons;
      padding: 0 $gutter-size;
    }

    &__sidebar {
      padding: 0 $gutter-size;
      grid-area: sidebar;
      overflow-y: auto;
    }

    &__content {
      padding: 0 $gutter-size;
      grid-area: content;
      overflow-y: auto;
    }
  }
}