// Layout Blocks
// -------------
.block {
  width: 100%;
  display: grid;
  grid-area: block;

  &--1-col {
    grid-template-columns: repeat(1, 100%);
  }

  &--2-col {
    grid-template-columns: repeat(2, 50%);
  }


  &--3-col {
    grid-template-columns: repeat(3, calc(100%/3));
  }


  &--4-col {
    grid-template-columns: repeat(4, 25%);
  }
}
