stages:
  - test
  - build_static_assets

.js:
  image: node
  before_script:
    - node --version
    - npm --version
    - yarn --version
    - yarn
    - yarn rebuild-node-sass

test:
  extends: .js
  stage: test
  script:
    - yarn test

build_static_assets:
  extends: .js
  stage: build_static_assets
  script:
    - yarn build
  artifacts:
    paths:
      - build/
