@import '../../styles/settings';

.base-layout {
  display: grid;
  grid-template-areas:
    'main-header'
    'in-page-messages'
    'content'
    'footer';

  grid-template-rows: 4rem auto auto;

  .main-header {
    grid-area: main-header;
  }

  .in-page-messages {
    grid-area: in-page-messages;
  }

  .footer {
    grid-area: footer;
  }
}