@import '../../../styles/settings';

.base-layout {
  display: grid;
  grid-template-areas:
    'main-header'
    'in-page-messages'
    'content'
    'content'
    'footer';

  height: 100vh;

  grid-template-rows: 5rem auto auto 1fr auto;

  .header:not(.header--negative) > .header__logo svg g {
    fill: white;
  }

  .main-header {
    grid-area: main-header;
  }

  .in-page-messages {
    grid-area: in-page-messages;
  }

  .content {
    grid-area: content;
    overflow: scroll;
    display: flex;
  }

  .footer {
    grid-area: footer;
  }
}
