@import '../../../styles/settings';
@import '../../../styles/mixins';

.sidebar-layout {
  display: grid;
  grid-template-areas:
    'title title'
    'sidebar action-buttons'
    'sidebar content';

  grid-template-columns: 20vw auto;
  grid-template-rows: auto auto auto;

  &__title {
    grid-area: title;
    padding: 0 $gutter-size;
  }

  &__action-buttons {
    grid-area: action-buttons;
    padding: 0 $gutter-size;
  }

  &__sidebar {
    @include scroll-shadow;

    padding: 0 $gutter-size;
    grid-area: sidebar;
    overflow-y: auto;
  }

  &__content {
    padding: 0 $gutter-size;
    grid-area: content;
    overflow-y: auto;
  }
}
