@import '../../../../../node_modules/franklin-sites/src/styles/settings';
@import '../../../../../node_modules/franklin-sites/src/styles/colours';
@import '../../../../../node_modules/franklin-sites/src/styles/mixins';

.side-panel {
  @include box-shadow(0.125rem);
  background-color: $colour-sky-white;
  border-radius: 0.2rem;
  padding: $global-padding;
  height: 100vh;
  width: 40vw;
  position: absolute;
  right: 0;
  top: 0;
}
