.tools-form-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &__item {
    display: inline-block;
    margin-right: 2rem;
    &--taxon-select {
      width: 20rem;
    }
    &--selected-taxon {
      margin-top: 1.5rem;
    }

    & [name='title'] {
      // so that we have a calculable size in ch units
      font-family: monospace;
      min-width: 25ch;
    }
  }

  &__main_actions {
    float: right;
    position: sticky;
    bottom: 0;
  }
}

.import-sequence-section {
  display: flex;
}
