@import '../../../node_modules/franklin-sites/src/styles/colours';

.tools-form-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 2rem;

  &__item {
    display: inline-block;
    margin-right: 2rem;
    &--taxon-select {
      width: 20rem;
    }
    &--selected-taxon {
      margin-top: 1.5rem;
    }

    & [name='title'] {
      // so that we have a calculable size in ch units
      font-family: monospace;
      min-width: 25ch;
    }
  }

  &__file-input {
    display: inline-block;
    font-weight: bold;
    margin-left: 0.5ch;
    color: $primary-color;
    cursor: pointer;
    user-select: none;

    & input[type='file'] {
      display: none;
    }
  }

  &__main_actions {
    float: right;
    position: sticky;
    bottom: 0;
  }
}

.tools-form-advanced > summary {
  overflow: hidden;
  cursor: pointer;
  user-select: none;

  & > span {
    position: relative;
    display: inline;
    font-size: 1.5em;
    font-weight: bold;

    &:after {
      content: '';
      position: absolute;
      border-bottom: 2px solid $colour-gainsborough;
      margin: auto;
      height: 75%;
      width: 100vw;
      left: calc(100% + 1ch);
    }
  }
}

.import-sequence-section {
  display: flex;
}
