.column-select {
  margin: 1rem 0;
  &__tab-title {
    &:first-letter {
      text-transform: capitalize;
    }
    &__count {
      margin-left: 0.5rem;
      &--visible {
        visibility: visible;
      }
      &--hidden {
        visibility: hidden;
      }
    }
  }
}
