.column-select {
  margin-bottom: 1rem;

  &__tab-title {
    &:first-letter {
      text-transform: capitalize;
    }

    &__count {
      margin-left: 0.5rem;

      &--visible {
        visibility: visible;
      }

      &--hidden {
        visibility: hidden;
      }
    }
  }
}