.GoRibbon {
  margin-bottom: 1rem;
  margin-top: 1rem;

  &__container {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 1rem;
  }
}
.ontology-ribbon {
  &__assoc {
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__headline {
    display: none;
  }
}
