.block {
  width: 100%;
  display: grid;
  grid-area: block; }
  .block > div {
    margin: 0 0.5rem; }
  .block--1-col {
    grid-template-columns: repeat(1, 100%); }
  .block--2-col {
    grid-template-columns: repeat(2, 50%); }
  .block--3-col {
    grid-template-columns: repeat(3, calc(100%/3)); }
  .block--4-col {
    grid-template-columns: repeat(4, 25%); }

section#layout[data-layout="home-page"] {
  grid-template-areas: repeat(auto-fill, 100%); }

.advanced-search .advanced-search__clause {
  display: flex;
  align-items: center; }
  .advanced-search .advanced-search__clause > div,
  .advanced-search .advanced-search__clause > select,
  .advanced-search .advanced-search__clause > a {
    margin: 0 0.5rem; }
  .advanced-search .advanced-search__clause .advanced-search__logic {
    flex: 0 1 6rem; }
  .advanced-search .advanced-search__clause .advanced-search__inputs {
    flex-grow: 2;
    margin-bottom: 0.25rem;
    display: flex; }
    .advanced-search .advanced-search__clause .advanced-search__inputs label {
      width: 100%; }
