.block {
  width: 100%;
  display: grid;
  grid-area: block; }
  .block div {
    height: 200px;
    margin: 10px; }
  .block--1-col {
    grid-template-columns: repeat(1, 100%); }
    .block--1-col div {
      background: blue; }
  .block--2-col {
    grid-template-columns: repeat(2, 50%); }
    .block--2-col div {
      background: red; }
  .block--3-col {
    grid-template-columns: repeat(3, calc(100%/3)); }
    .block--3-col div {
      background: yellow; }
  .block--4-col {
    grid-template-columns: repeat(4, 25%); }

section#layout[data-layout="home-page"] {
  grid-template-areas: repeat(auto-fill, 100%); }

.advanced-search .advanced-search__field {
  display: flex;
  align-items: flex-end;
  justify-content: space-around; }
  .advanced-search .advanced-search__field .advanced-search__logic {
    flex: 0 1 6rem; }
  .advanced-search .advanced-search__field .advanced-search__inputs {
    flex-grow: 2; }
