.block {
  width: 100%;
  display: grid;
  grid-area: block; }
  .block div {
    height: 200px;
    margin: 10px; }
  .block--1-col {
    grid-template-columns: repeat(1, 100%); }
    .block--1-col div {
      background: blue; }
  .block--2-col {
    grid-template-columns: repeat(2, 50%); }
    .block--2-col div {
      background: red; }
  .block--3-col {
    grid-template-columns: repeat(3, calc(100%/3)); }
    .block--3-col div {
      background: yellow; }
  .block--4-col {
    grid-template-columns: repeat(4, 25%); }
    .block--4-col div {
      background: green; }

section#layout[data-layout="home-page"] {
  grid-template-areas: repeat(auto-fill, 100%); }

.advanced-search-field {
  display: inline-block;
  padding: .5em; }
  .advanced-search-field .tree-select-menu {
    display: none;
    position: absolute;
    background: #FFF;
    padding: .5em;
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .advanced-search-field .tree-select-open {
    display: block; }
  .advanced-search-field .advanced-search-inputs {
    display: inline-block;
    vertical-align: bottom; }
    .advanced-search-field .advanced-search-inputs .advanced-search-input {
      display: inline-block;
      margin: 0 .4em; }
    .advanced-search-field .advanced-search-inputs label {
      display: block; }
    .advanced-search-field .advanced-search-inputs input,
    .advanced-search-field .advanced-search-inputs select {
      display: block; }
