.dashboard {
  &__header .card__content {
    font-weight: bold;
    display: grid;
    /* this needs to be the same as below to keep visual alignment */
    grid-template-columns: 27ch 10ch 20ch 18ch 1fr;
    grid-gap: 1ch;
  }

  &__body {
    & .card:nth-of-type(2n + 1) {
      background: #e4e8eb;
    }

    & .card__content {
      display: grid;
      grid-template-areas:
        'name type time status actions'
        'id   id   time status actions';
      grid-template-columns: 27ch 10ch 20ch 18ch 1fr;
      grid-gap: 1ch;
      grid-template-rows: 1fr 1fr;

      &:hover .dashboard__body__notify_message {
        opacity: 1;
      }
    }

    /* begin grid areas */
    &__name {
      grid-area: name;
      display: contents;
      font-weight: bold;

      & > * {
        white-space: nowrap;
        overflow: scroll;
        max-width: 100%;
        cursor: text;
      }
    }

    &__type {
      grid-area: type;
      font-weight: bold;
      text-transform: uppercase;
    }

    &__time {
      grid-area: time;
    }

    &__status {
      grid-area: status;
    }

    &__actions {
      grid-area: actions;
      justify-self: end;
    }

    &__id {
      grid-area: id;
      font-size: 75%;
      align-self: end;
    }
    /* end grid areas */

    &__hours {
      font-size: 75%;
    }

    &__notify_message {
      opacity: 0.5;
      font-size: 75%;
      transition: opacity ease-in-out 100ms;
    }

    &__actions {
      display: flex;

      & button {
        cursor: pointer;
        margin: 0.5ch;
        width: 2ch;
      }
    }
  }
}
