.data-table__blast-hsp {
  width: 40vw;
  display: flex;
  svg {
    margin: 0.1rem 0;
  }
  button {
    white-space: nowrap;
  }
}

/**
* HACK! this should be fixed in franklin
*/
.data-table {
  input[type='checkbox'] {
    margin: 0;
  }
}
