.data-table__blast-hsp {
  display: flex;
  button {
    white-space: nowrap;
  }
  &__tracks {
    // Leave some room for the 'n more' link
    width: 80%;
    svg {
      margin: 0.1rem 0;
    }
  }
}
