.data-table__blast-hsp {
  display: flex;
  button {
    white-space: nowrap;
  }
  &__tracks {
    width: 40vw;
    svg {
      margin: 0.1rem 0;
    }
  }
}

/**
* HACK! this should be fixed in franklin
*/
.data-table {
  input[type='checkbox'] {
    margin: 0;
  }
}
