.blast-form-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &__item {
    display: inline-block;
    margin-right: 2rem;
    &--taxon-select {
      width: 20rem;
    }
    &--selected-taxon {
      margin-top: 1.5rem;
    }
  }

  &__submit {
    pointer-events: none;
    position: sticky;
    bottom: 0;
  }

  &__buttons {
    pointer-events: initial;
    margin-left: auto;
    order: 2;
  }
}

.import-sequence-section {
  display: flex;
}
