.blast-form-textarea {
  height: 40vh;
}

.blast-form-section {
  display: flex;
  flex-direction: row;

  &__item {
    margin-right: 2rem;
  }
}

.taxon {
  display: inline-block;
  vertical-align: middle;
  margin: 0.25rem;
  padding: 0.5em 0.7em;
  background-color: #00639a;
  color: white;
}
