@import '../settings';

.advanced-search {
  .advanced-search__field {
    display: flex;
    align-items: center; // justify-content: space-around;
    &>div,
    &>select,
    &>a {
      margin: 0 $gutter-size;
    }
    .advanced-search__logic {
      flex: 0 1 6rem;
    }
    .advanced-search__inputs {
      flex-grow: 2;
      margin-bottom: .5rem;
      display: flex;
      label {
        width: 100%;
      }
    }
  }
}
