.advanced-search-field {
  display: inline-block;
  padding: .5em;
  .tree-select-menu {
    display: none;
    position: absolute;
    background: #FFF;
    padding: .5em;
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  .tree-select-open {
    display: block;
  }
  .advanced-search-inputs {
    display: inline-block;
    vertical-align: bottom;
    .advanced-search-input {
      display: inline-block;
      margin: 0 .4em;
    }
    label {
      display: block;
    }
    input,
    select {
      display: block;
    }
  }
}
