@import '../../styles/settings';

.popup-message-container {
  z-index: $z-index-high;
  position: fixed;
  display: flex;
  width: 25vw;
  max-height: calc(100vh - 2rem);
  overflow: scroll;
  flex-direction: column;
  right: 1rem;
  bottom: 1rem;
}
