@import '../../../../../../node_modules/franklin-sites/src/styles/colours';
@import '../../../../../../node_modules/franklin-sites/src/styles/settings';

.code-block {
  display: inline-block;
  background: $colour-yankees-blue;
  color: $white;
  font-family: $code-font-family;
  font-weight: $code-font-weight;
  border: $code-border;
  padding: $code-padding;
}
